@font-face {
  font-family: "Roboto", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body,
html {
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  background-image: url(images/istockphoto-1328492000-612x612.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
body,
.register-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
h1 {
  margin: 20px;
  font-size: 40px;
  text-align: center;
}
.register-box {
  background-color: orange;
  padding: 20px;
}
form {
  width: 40vw;
  height: 100%;
  position: relative;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 8px #131414;
}
input {
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  outline: darkgreen;
}
input:hover {
  border: 1px solid transparent;
  box-shadow: 0 0 3px 0 #ccc;
  color: darkred;
  background-color: yellow;
}
.item {
  position: relative;
  margin: 10px 0;
}
div.item {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
}
#submit {
  width: fit-content;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#div.radio {
  display: inline;
  margin-left: 15px;
}
