:root {
  --Bright-orange: hsl(31, 77%, 52%);
  --Dark-cyan: hsl(184, 100%, 22%);
  --Very-dark-cyan: hsl(179, 100%, 13%);
  --Transparent-white: hsla(0, 0%, 100%, 0.75);
  --Very-light-gray: hsl(0, 0%, 95%);
  --Font-size: 15px;
  --Family-p: (https://fonts.google.com/specimen/Lexend+Deca);
  --para: 400;
  --Family-h: (https://fonts.google.com/specimen/Big+Shoulders+Display);
  --header: 700;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  background-color: var(--Very-light-gray);
  margin: 20px;
  padding: 20px;
  line-height: 1.5;
  max-height: 600px;
}
h1 {
  font-family: var(--Family-h);
  font-weight: var(--header);
  text-transform: uppercase;
  padding: 10px;
  margin: 10px;
  color: var(--Transparent-white);
  justify-content: left;
  text-align: left;
}
p {
  justify-content: left;
  text-align: left;
  padding: 10px;
  margin: 10px;
  color: var(--Transparent-white);
  font-family: var(--Family-p);
  font-weight: var(--para);
}
.sedan,
.suvs,
.luxury {
  max-width: 220px;
  max-height: 600px;
}
.layout {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  position: relative;
}
.sedan {
  background-color: var(--Bright-orange);
}
.suvs {
  background-color: var(--Dark-cyan);
}
.luxury {
  background-color: var(--Very-dark-cyan);
}
img {
  justify-content: left;
  text-align: left;
  padding: 10px;
  margin: 10px;
}
.image {
  justify-content: left;
  text-align: left;
}

button {
  border: 1px solid var(--Very-light-gray);
  border-radius: 20px;
  cursor: pointer;
  padding: 10px 20px 10px 20px;
  margin: 30px;
}
#btn-sedan {
  color: var(--Bright-orange);
}
#btn-sedan:hover {
  background-color: var(--Bright-orange);
  color: var(--Transparent-white);
}
#btn-suv {
  color: var(--Dark-cyan);
}
#btn-suv:hover {
  background-color: var(--Dark-cyan);
  color: var(--Transparent-white);
}
#btn-luxury {
  color: var(--Very-dark-cyan);
}
#btn-luxury:hover {
  background-color: var(--Very-dark-cyan);
  color: var(--Transparent-white);
}
